.HomePage {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8,0,58,0.7), rgba(8, 0, 58, 0.7)),
    url("../../assets/HomePageimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text {
  text-align: center;
  max-width: 800px;
}
.home-text h1 {
  font-size: 60px;
  font-weight: 600;
}
.home-text p {
  font-size: 24px;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4; 
}
.btn {
    background-color: #3f6284; /* Blue background color */
    color: white; /* White text color */
    padding: 12px 24px; /* Padding around the text */
    font-size: 16px; /* Font size of the text */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .btn:hover {
    background-color: #5f7995; /* Darker blue background color on hover */
  }
  